@import "tailwindcss";

@plugin "tailwind-scrollbar";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-tisa-pro: "tisaPro", sans-serif;

  --breakpoint-s: 26rem;
  --breakpoint-m: 48rem;
  --breakpoint-l: 64rem;

  --text-xxl: 1.5rem;
  --text-xxl--line-height: 2rem;
  --text-h0: 4rem;
  --text-h0--line-height: 5rem;
  --text-h1: 3rem;
  --text-h1--line-height: 3.75rem;
  --text-h15: 2.5rem;
  --text-h15--line-height: 3rem;
  --text-h2: 2rem;
  --text-h2--line-height: 2.5rem;
  --text-h3: 1.5rem;
  --text-h3--line-height: 2rem;
  --text-h35: 1.375rem;
  --text-h35--line-height: 1.875rem;
  --text-h4: 1.125rem;
  --text-h4--line-height: 1.5rem;
  --text-h5: 1rem;
  --text-h5--line-height: 1.5rem;
  --text-h6: 0.875rem;
  --text-h6--line-height: 1.25rem;
  --text-p0: 1.25rem;
  --text-p0--line-height: 1.75rem;
  --text-p1: 1rem;
  --text-p1--line-height: 1.5rem;
  --text-caption: 0.875rem;
  --text-caption--line-height: 1.375rem;
  --text-r0: 1.75rem;
  --text-r0--line-height: 2.625rem;
  --text-r1: 1.5rem;
  --text-r1--line-height: 2.25rem;
  --text-r2: 1.125rem;
  --text-r2--line-height: 1.625rem;
  --text-legal: 0.75rem;
  --text-legal--line-height: 1.125rem;

  --color-green: hsl(var(--brand-green) / 1);
  --color-midnight: hsl(var(--brand-midnight) / 1);
  --color-blue: hsl(var(--brand-blue) / 1);
  --color-dark-grey: hsl(var(--neutral-dark-grey) / 1);
  --color-green-2: hsl(var(--extended-green-2) / 1);
  --color-blue-2: hsl(var(--extended-blue-2) / 1);
  --color-blue-7: hsl(var(--extended-blue-7) / 1);
  --color-background-blue: hsl(var(--extended-blue-7) / 1);
  --color-background-yellow: hsl(var(--extended-summer-yellow-7) / 1);
  --color-background-purple: hsl(var(--extended-orchid-violet-7) / 1);
  --color-background-red: hsl(var(--extended-raspberry-7) / 1);
  --color-background-pale-mint-grey: hsl(var(--neutral-pale-mint-grey) / 1);
  --color-summer-yellow: hsl(var(--extended-summer-yellow-4) / 1);
  --color-lightest-grey: hsl(var(--neutral-lightest-grey) / 1);
  --color-light-pale-mint-grey: hsl(var(--neutral-light-pale-mint-grey) / 1);
  --color-light-grey: hsl(var(--neutral-light-grey) / 1);
  --color-pale-mint-grey: hsl(var(--neutral-pale-mint-grey) / 1);
  --color-grey: hsl(var(--neutral-mid-grey) / 1);
  --color-orchid-violet: hsl(var(--extended-orchid-violet-4) / 1);
  --color-mid-grey: hsl(var(--neutral-mid-grey) / 1);

  --brand-green: 148 74% 53%;
  --brand-midnight: 202 92% 15%;
  --brand-blue: 215 98% 48%;
  --neutral-white: 0 0% 100%;
  --neutral-light-pale-mint-grey: 150 17% 98%;
  --neutral-pale-mint-grey: 156 22% 95%;
  --neutral-lightest-grey: 200 18% 90%;
  --neutral-light-grey: 198 17% 77%;
  --neutral-mid-grey: 201 7% 46%;
  --neutral-dark-grey: 192 11% 26%;
  --neutral-midnight: 202 92% 15%;
  --neutral-deep-black: 198 85% 10%;
  --extended-green-1: 165 100% 16%;
  --extended-green-2: 148 71% 43%;
  --extended-green-3: 148 67% 48%;
  --extended-green-4: 148 74% 53%;
  --extended-green-5: 148 69% 70%;
  --extended-green-6: 148 73% 80%;
  --extended-green-7: 149 76% 92%;
  --extended-midnight-1: 202 92% 5%;
  --extended-midnight-2: 202 92% 10%;
  --extended-midnight-3: 202 92% 15%;
  --extended-midnight-4: 202 92% 20%;
  --extended-midnight-5: 202 92% 25%;
  --extended-midnight-6: 202 92% 31%;
  --extended-blue-1: 215 95% 25%;
  --extended-blue-2: 215 95% 38%;
  --extended-blue-3: 215 98% 48%;
  --extended-blue-4: 215 97% 64%;
  --extended-blue-5: 215 100% 75%;
  --extended-blue-6: 215 100% 80%;
  --extended-blue-7: 213 100% 92%;
  --extended-summer-yellow-2: 43 98% 45%;
  --extended-summer-yellow-3: 43 98% 47%;
  --extended-summer-yellow-4: 43 98% 56%;
  --extended-summer-yellow-5: 43 99% 66%;
  --extended-summer-yellow-6: 43 98% 76%;
  --extended-summer-yellow-7: 42 100% 92%;
  --extended-raspberry-1: 352 74% 24%;
  --extended-raspberry-2: 352 74% 53%;
  --extended-raspberry-3: 352 90% 59%;
  --extended-raspberry-4: 352 100% 74%;
  --extended-raspberry-5: 352 100% 78%;
  --extended-raspberry-6: 352 100% 84%;
  --extended-raspberry-7: 349 100% 96%;
  --extended-orchid-violet-1: 253 45% 29%;
  --extended-orchid-violet-2: 253 45% 49%;
  --extended-orchid-violet-3: 253 59% 56%;
  --extended-orchid-violet-4: 253 93% 72%;
  --extended-orchid-violet-5: 253 91% 77%;
  --extended-orchid-violet-6: 253 88% 83%;
  --extended-orchid-violet-7: 253 100% 95%;
  --content-primary: var(--brand-midnight);
  --content-secondary: var(--neutral-dark-grey);
  --content-tertiary: var(--neutral-mid-grey);
  --content-success: var(--extended-green-2);
  --content-disabled: var(--neutral-light-grey);
  --content-on-primary: var(--neutral-white);
  --content-on-info: var(--extended-blue-1);
  --container-primary: var(--brand-midnight);
  --container-secondary: var(--neutral-lightest-grey);
  --container-accent: var(--extended-blue-3);
  --outline-accent: var(--extended-blue-3);
  --outline-disabled: var(--neutral-light-grey);
  --outline-secondary: var(--neutral-lightest-grey);
  --surface-background: var(--neutral-white);
  --surface-neutral: var(--neutral-pale-mint-grey);
  --surface-blue: var(--extended-blue-7);
  --gradient-purple-start: 255 75% 82% / 0.75;
  --gradient-purple-end: var(--surface-background);
  --gradient-blue-start: 235 100% 90% / 0.6;
  --gradient-blue-end: 0 0% 100% / 0.6;
}
